fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
email-validator
bcrypt
alembic
passlib
aioredis
databases
python-multipart
redis
python-jose[cryptography]
fastapi-limiter

fastapi
uvicorn
SQLAlchemy
passlib
python-jose
redis
passlib[bcrypt]